/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2018, 14:41:39
    Author     : niko
*/
@font-face
{
    font-family: "Bebas";
    src: url("../fonts/BebasNeue-Regular.eot"),
        url("../fonts/BebasNeue-Regular.otf"),
        url("../fonts/BebasNeue-Regular.ttf"),
        url("../fonts/BebasNeue-Regular.woff"),
        url("../fonts/BebasNeue-Regular.woff2");
}

body
{
    background-image: url("../Pictures/back.jpg");
    background-attachment: fixed;
    color: white;
    font-family: arial;
}

img
{
    width: 200px;
    height: 300px;
    border: 2px solid white;
}

nav a
{
    font-family: "Bebas", Arial;
    font-size: 1.3em;
    transition: all .2s;
}

.fontsize
{
    font-size: 2.3em;
}

article
{
    text-align: center;
    background-color: rgba(0,0,0,0.75);
    padding-top: 20px;
    font-weight: bold;
    box-shadow: 0px 6px 6px black;
    margin-bottom: 20px;
}

article a
{
    text-decoration: none;
    color: white;
}

article a :hover
{
    transition: all 0.3s;
    transform: scale(1.1);
    text-decoration: none;
    color: white;
}

#corps
{
    margin-top: 100px;
}

h2
{
    font-size: 1.5em;
    margin-left: 40px;
}

.bg-opacity
{
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,0.55) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 35%,rgba(0,0,0,0.55) 100%);
}

.navbar-dark .navbar-brand
{
    color: red;
}

.navbar-dark .navbar-nav .nav-link
{
    color: white;
    border-bottom: 2px solid transparent;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus 
{
  color: red;
  border-bottom: 2px solid red;
  transition: all .5s;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus
{
    color: red;
}